# You can keep your repository small and manageable with a .gitignore file.
# Prevent build artifacts, large binary files, and other large file types
# such as log files, media files, and executables from slowing down your workflow.
#
# If you need to keep large files in Bitbucket, consider introducing
# Git Large File Storage (Git LFS) as part of your workflow.
#
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore
# Learn more about Git LFS for large files:
#     https://www.atlassian.com/git/tutorials/git-lfs
*/.project
*/.settings/*
.vscode/
*.classpath
*.DS_Store
*.factorypath
/target/
/logs/
/dwara-core/logs/
/dwara-core-mocks/logs/
/dwara-db/logs/
/dwara-service/logs/
/dwara-tape/logs/
/bin/
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/libraries/Maven__antlr_antlr_2_7_7.xml
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_10_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_10_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_10_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_xml_2_10_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_10_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_10_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_jaxb_annotations_2_10_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_10_3.xml
.idea/libraries/Maven__com_fasterxml_woodstox_woodstox_core_6_1_1.xml
.idea/libraries/Maven__com_github_fracpete_processoutput4j_0_0_7.xml
.idea/libraries/Maven__com_github_fracpete_rsync4j_all_3_1_3_2.xml
.idea/libraries/Maven__com_github_fracpete_rsync4j_core_3_1_3_2.xml
.idea/libraries/Maven__com_github_fracpete_rsync4j_windows_x86_3_1_3_2.xml
.idea/libraries/Maven__com_github_fracpete_rsync4j_windows_x86_64_3_1_3_2.xml
.idea/libraries/Maven__com_github_springtestdbunit_spring_test_dbunit_1_2_0.xml
.idea/libraries/Maven__com_github_virtuald_curvesapi_1_04.xml
.idea/libraries/Maven__com_google_api_client_google_api_client_1_32_1.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_6.xml
.idea/libraries/Maven__com_google_guava_guava_20_0.xml
.idea/libraries/Maven__com_google_http_client_google_http_client_1_39_2.xml
.idea/libraries/Maven__com_google_http_client_google_http_client_apache_v2_1_39_2.xml
.idea/libraries/Maven__com_google_http_client_google_http_client_gson_1_39_2.xml
.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
.idea/libraries/Maven__com_google_oauth_client_google_oauth_client_1_31_5.xml
.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_4_0.xml
.idea/libraries/Maven__com_jcraft_jsch_0_1_55.xml
.idea/libraries/Maven__com_mashape_unirest_unirest_java_1_4_9.xml
.idea/libraries/Maven__com_sun_activation_jakarta_activation_1_2_2.xml
.idea/libraries/Maven__com_sun_istack_istack_commons_runtime_3_0_8.xml
.idea/libraries/Maven__com_sun_xml_fastinfoset_FastInfoset_1_2_16.xml
.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
.idea/libraries/Maven__com_vladmihalcea_hibernate_types_52_2_9_13.xml
.idea/libraries/Maven__com_zaxxer_HikariCP_3_4_2.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_13.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_2.xml
.idea/libraries/Maven__commons_io_commons_io_2_4.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
.idea/libraries/Maven__io_grpc_grpc_context_1_27_2.xml
.idea/libraries/Maven__io_opencensus_opencensus_api_0_28_0.xml
.idea/libraries/Maven__io_opencensus_opencensus_contrib_http_util_0_28_0.xml
.idea/libraries/Maven__io_springfox_springfox_core_2_9_2.xml
.idea/libraries/Maven__io_springfox_springfox_schema_2_9_2.xml
.idea/libraries/Maven__io_springfox_springfox_spi_2_9_2.xml
.idea/libraries/Maven__io_springfox_springfox_spring_web_2_9_2.xml
.idea/libraries/Maven__io_springfox_springfox_swagger2_2_9_2.xml
.idea/libraries/Maven__io_springfox_springfox_swagger_common_2_9_2.xml
.idea/libraries/Maven__io_springfox_springfox_swagger_ui_2_9_2.xml
.idea/libraries/Maven__io_swagger_swagger_annotations_1_5_20.xml
.idea/libraries/Maven__io_swagger_swagger_models_1_5_20.xml
.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
.idea/libraries/Maven__jakarta_persistence_jakarta_persistence_api_2_2_3.xml
.idea/libraries/Maven__jakarta_transaction_jakarta_transaction_api_1_3_3.xml
.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_2_0_2.xml
.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
.idea/libraries/Maven__javax_servlet_javax_servlet_api_4_0_1.xml
.idea/libraries/Maven__javax_xml_stream_stax_api_1_0_2.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__mysql_mysql_connector_java_8_0_19.xml
.idea/libraries/Maven__mysql_mysql_connector_java_8_0_20.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_8.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_10_8.xml
.idea/libraries/Maven__net_lingala_zip4j_zip4j_2_3_0.xml
.idea/libraries/Maven__net_minidev_accessors_smart_1_2.xml
.idea/libraries/Maven__net_minidev_json_smart_2_3.xml
.idea/libraries/Maven__net_sourceforge_argparse4j_argparse4j_0_6_0.xml
.idea/libraries/Maven__org_apache_commons_commons_collections4_4_1.xml
.idea/libraries/Maven__org_apache_commons_commons_compress_1_14.xml
.idea/libraries/Maven__org_apache_commons_commons_compress_1_20.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_9.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpasyncclient_4_1_4.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_12.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_13.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_nio_4_4_13.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpmime_4_5_12.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_12_1.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_12_1.xml
.idea/libraries/Maven__org_apache_poi_poi_3_15.xml
.idea/libraries/Maven__org_apache_poi_poi_3_17.xml
.idea/libraries/Maven__org_apache_poi_poi_ooxml_3_15.xml
.idea/libraries/Maven__org_apache_poi_poi_ooxml_3_17.xml
.idea/libraries/Maven__org_apache_poi_poi_ooxml_schemas_3_15.xml
.idea/libraries/Maven__org_apache_poi_poi_ooxml_schemas_3_17.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_33.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_9_0_33.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_33.xml
.idea/libraries/Maven__org_apache_xmlbeans_xmlbeans_2_6_0.xml
.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
.idea/libraries/Maven__org_aspectj_aspectjweaver_1_9_5.xml
.idea/libraries/Maven__org_assertj_assertj_core_3_13_2.xml
.idea/libraries/Maven__org_bouncycastle_bcpkix_jdk15on_1_68.xml
.idea/libraries/Maven__org_bouncycastle_bcprov_jdk15on_1_68.xml
.idea/libraries/Maven__org_codehaus_woodstox_stax2_api_4_2.xml
.idea/libraries/Maven__org_codehaus_woodstox_woodstox_core_asl_4_4_1.xml
.idea/libraries/Maven__org_dbunit_dbunit_2_7_0.xml
.idea/libraries/Maven__org_dom4j_dom4j_2_1_1.xml
.idea/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_2_3_2.xml
.idea/libraries/Maven__org_glassfish_jaxb_txw2_2_3_2.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_2_1.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_2_1.xml
.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_1_0_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_core_5_4_12_Final.xml
.idea/libraries/Maven__org_hibernate_validator_hibernate_validator_6_0_18_Final.xml
.idea/libraries/Maven__org_javassist_javassist_3_24_0_GA.xml
.idea/libraries/Maven__org_jboss_jandex_2_1_1_Final.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_1_Final.xml
.idea/libraries/Maven__org_json_json_20180813.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_5_2.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_5_2.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_5_2.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_5_2.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_5_2.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_5_2.xml
.idea/libraries/Maven__org_junit_vintage_junit_vintage_engine_5_5_2.xml
.idea/libraries/Maven__org_jvnet_staxex_stax_ex_1_8_1.xml
.idea/libraries/Maven__org_keycloak_keycloak_adapter_core_13_0_1.xml
.idea/libraries/Maven__org_keycloak_keycloak_adapter_spi_13_0_1.xml
.idea/libraries/Maven__org_keycloak_keycloak_authz_client_13_0_1.xml
.idea/libraries/Maven__org_keycloak_keycloak_common_13_0_1.xml
.idea/libraries/Maven__org_keycloak_keycloak_core_13_0_1.xml
.idea/libraries/Maven__org_keycloak_keycloak_spring_boot_2_adapter_13_0_1.xml
.idea/libraries/Maven__org_keycloak_keycloak_spring_boot_adapter_core_13_0_1.xml
.idea/libraries/Maven__org_keycloak_keycloak_spring_boot_starter_13_0_1.xml
.idea/libraries/Maven__org_keycloak_keycloak_spring_security_adapter_13_0_1.xml
.idea/libraries/Maven__org_keycloak_spring_boot_container_bundle_13_0_1.xml
.idea/libraries/Maven__org_mapstruct_mapstruct_1_3_0_Final.xml
.idea/libraries/Maven__org_mockito_mockito_core_3_1_0.xml
.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_3_1_0.xml
.idea/libraries/Maven__org_objenesis_objenesis_2_6.xml
.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
.idea/libraries/Maven__org_ow2_asm_asm_5_0_4.xml
.idea/libraries/Maven__org_postgresql_postgresql_42_2_11.xml
.idea/libraries/Maven__org_projectlombok_lombok_1_16_18.xml
.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_30.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_30.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_2_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_aop_2_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_jpa_2_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_2_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_security_2_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_validation_2_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_commons_2_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_jpa_2_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_plugin_spring_plugin_core_1_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_plugin_spring_plugin_metadata_1_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_config_5_2_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_core_5_2_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_test_5_2_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_web_5_2_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_5_2_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aspects_5_2_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_5_2_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_5_2_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_5_2_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_5_2_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jcl_5_2_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_5_2_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_orm_5_2_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_test_5_2_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_5_2_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_5_2_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_5_2_5_RELEASE.xml
.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_6_4.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_25.xml
.idea/libraries/Maven__stax_stax_api_1_0_1.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
dwara-api/dwara-api.iml
dwara-commons/dwara-commons.iml
dwara-core-mocks/dwara-core-mocks.iml
dwara-core/dwara-core.iml
dwara-db/dwara-db.iml
dwara-dev-tools/dwara-dev-tools.iml
dwara-digitization/dwara-digitization.iml
dwara-hotfixes/dwara-hotfixes.iml
dwara-ltowala/dwara-ltowala.iml
dwara-service/dwara-service.iml
dwara-tape-mocks/dwara-tape-mocks.iml
dwara-tape/dwara-tape.iml
dwara-videopub/dwara-videopub.iml
dwara.iml
